node_modules
public/hot
public/storage
storage/*.key
vendor
.env
.idea
.vagrant
.composer
.error_docs
.lighttpd_root
ccs_backups
.bash_history
.gitattributes
.mysql_history
.viminfo
public_html
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log